<launch> 
  <arg name="param_path" default="$(find ros_fiducials_detectors)/config/aruco_detector_default.yaml" />

  <group ns="ros_fiducials_detectors"> 
    <node pkg="ros_fiducials_detectors" type="aruco_detector_node" name="aruco_detector_node" output="screen"> 
      <rosparam command="load" file="$(arg param_path)" />
    </node>
  </group> 

</launch>
